/Build/Behat/*
/Build/PhpCodesniffer/*
/Build/BuildEssentials
/Build/Reports
/Build/Resources
/Configuration/
/Data/
/Packages/*
!/Packages/Sites
/Web/
/bin/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
